.form-conatiner-r{width: 450px;    
    border: 1px solid #fff; padding:50px 60px; margin-top: 13vh; margin-left: -8vh;
    -webkit-box-shadow: -1px 6px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 26px 11px rgba(0,0,0,0.75);
}
