</div>
<script src="/views/js/script.js" type ='text/javascript'></script>
<script src="/views/js/layout.js" type ='text/javascript'></script>
<script src="/views/js/page.js" type ='text/javascript'></script>
</body>

<div class="bottom"> 

    <div class="region">
        <div class="box">
            <h3>Quick Link: </h3>
            <a href="/">Home</a></br>
            <a href="#about">About</a></br>
            <a href="/result">Country</a></br>
            <a href="/comments/add">Submit</a>
        </div>

        <div class="box">
            <h3>Contact Way: </h3>
            <a>Phone 1: 123-123-1231 </a></br>
            <a>Phone 2: 123-123-1232 </a></br>
            <a>Email: travelcountry@gmail.com</a></br>
            <a>Address: 1sth street, San Jose, CA, 95468</a>
        </div>

        <div class="box">
            <h3>Working Time </h3>
            <a>Monday: 9Am -- 5Pm </a></br>
            <a>Tuesday: 9Am -- 5Pm  </a></br>
            <a>Thursday: 9Am -- 5Pm</a></br>
            <a>Friday: 9Am -- 12Pm</a>
        </div>

    </div>

    <div class ="credit"> <span> Travel Popular Country </span> ------  www.travelcountry.com </div>
</div>

</html>