<%- include('../_partial/_header'); -%>
<div class="bg-box">
    <div class="register-box">
        <form class="form-signin" method="POST" action="/signup"></form>
            <div class="title-box">
                <h2>Register</h2>
            </div>
            <div class="username-box">
                <label for="username">Username</label>
                <input type="text" id="username"/>
            </div>
            <div class="password-box">
                <label for="password">Password</label>
                <input type="password" id="password"/>
            </div>
            <div class="confirm-password-box">
                <label for="confirm-password">Confirm password</label>
                <input type="password" id="confirm-password"/>
            </div>
            <div class="email-box">
                <label for="email">Email</label>
                <input type="text" id="email"/>
            </div>
            <div class="firstname-box">
                <label for="firstname">First name</label>
                <input type="text" id="firstname"/>
            </div>
            <div class="lastname-box">
                <label for="lastname">Last name</label>
                <input type="text" id="lastname"/>
            </div>
            <div class="submit-box">
                <input id="submit-button" type="button" value="Sign up">
            </div>
        </form>
    </div>
</div>
<%- include('../_partial/_footer'); -%>