<%- include('../_partial/_header'); -%>

<div class = "container-fluid bg">
<div class = "row">
<div class="col-md-4 col-sm-4 col-xs-12"></div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="panel-body">
        <form class="form-conatiner-r" method="POST" action="/signup">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            
            <% if(info && info.length > 0) { %>
                <div class="alert alert-info" role="alert">
                    <%= info %>
                </div>
            <% } %>
            <h1 class = "text" style="color: rgb(77, 255, 136);"> Sign Up</h1>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Username" name="username" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="email" class="form-control" placeholder="Email address" name="email"
                    aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                        aria-hidden="true"></span></span>
                <input type="password" name="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                        aria-hidden="true"></span></span>
                <input type="password" class="form-control" placeholder="Re-password"
                    aria-describedby="basic-addon1" name="repassword">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Firstname" name="firstname" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Lastname" name="lastname" aria-describedby="basic-addon1">
            </div>

            <input type="submit" class="btn btnc navbar-btn" value="Sign Up" />

        </form>
    </div>
</div>
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
</div>
</div>

</body>
<%- include ('../_partial/_footer'); -%>

