<%- include("../_partial/_header") -%>
<div class= "row">
	<div class="col-md-6"  style="margin-top:80px">
		<h1> New Travel Experience</h1>
	</div>
</div>

<div class="row">
    <div class="col-md-6">
        <form action="/posts/add" method="POST">
            <div class="form-group">
                <label for="inputTitle">Country Name</label>
                <input type="text" class="form-control" placeholder="Title" id="inputTitle" name="countryName">
            </div>

            <div class="form-group">
                <label for="inputContent">Content</label>
                <textarea class="form-control" rows="3" id="inputContent" placeholder="Content" name="content"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default" href="#" role="button">Create</button>
            </div>   
       </form>
    </div>
</div>


<%- include("../_partial/_footer") -%>